{
	"extends": ["@antfu"],
  "rules": {
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"],

    "vue/component-tags-order": "off",

    "eslint-comments/no-unlimited-disable": "off"
  }
}
